* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    padding: 1em;
}

h1,h2 {
    text-align: center;
    font-family: Palatino, serif;
    padding: .5em;
}
h1 {
    font-size: 18pt;
    color: darkgreen
}
h2 {
    float: right;
    font-size: 14pt;
    padding: 7pt;
    min-width: 40%;
    border: 2pt solid darkgreen;
    border-bottom-left-radius: 3px;
    transition: .3s top ease-in-out, .2s right ease-out, .1s border ease-in-out;
    position: relative;
    top:0;
    right:0;
}

section {
    color: white;
    padding: 1em;
    width: 90%;
    margin: auto;
}

section:nth-child(2) h2 {
    background: pink;
    color: darkolivegreen;
}

section:nth-child(3) h2 {
    background: crimson;
}

section:nth-child(4) h2 {
    background-color: lightgoldenrodyellow;
    color: navy
}

section:hover p, section:active p, section:focus p {
    color: bisque;
    background-color: #b00;
    background-color: bisque;
    border-color: bisque;
    border-color: #b00;
    color: #900;
}
section:hover h2, section:active h2, section:focus h2 {
    border-color: bisque;
    top: -5px;
    right: -5px;
}

p {
/*    margin: 1em;*/
    border-radius: 3px;
    border: 3px solid darkgreen;
    background-color: seagreen;
    padding: 8pt;
    padding-top: 36pt;
    letter-spacing: 0.12pt;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    section {
        width: 50%;
        float: left;
    }
    section:last-child {
        clear: both;
        width: 100%;
    }
}
/* desktop */
@media screen and (min-width: 992px) {
    section {
        width: 33%;
        float: left;
    }
}
